<link rel="stylesheet" href="/css/home.css">
<div id="home-container"><section id="feed-posts">
    <h4>Post</h4>
    <% if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea required name="content" id="content" cols="25" rows="3" placeholder="Type Here.."></textarea>
        <input type="submit" value="Post" id="post-submit">
    </form>
    <%}%>
        
    <!--Listing post-->
    <div id="post-list-container">
        <% for(post of posts) { %>
            <div>
                <%- include('_post')%>
            </div>
        <%}%>
    </div>
</section>
<section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users){%>
        <p>
            <a href="/users/profile/<%=u.id%>"><%= u.name %></a>
        </p>
    <%}%>
</section>
</div>
<script src="/js/home_post_comments.js">
</script>
<script src="/js/home_posts.js">
</script>
