<html>

<head>
    <title>User Profile</title>
    <link href="https://cdnout.com/noty/noty.min.css" rel="stylesheet" media="all">
    <script src="https://cdnout.com/noty/noty.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('_header') %>
    <div id="main">
        <%- body %>
    </div>
    <%- include('_footer') %>
    <%- script %>
    <script>
        <% if(flash.success && flash.success.length>0){ %>
            new Noty({
                theme: 'relax',
                text: "<%=flash.success%>",
                type: 'success',
                layout: 'topRight',
                timeout: 3000
            }).show();
        <% } %>
        <% if(flash.error && flash.error.length>0) {%>
            new Noty({
                theme: 'relax',
                text: "<%=flash.error%>",
                type:'error',
                layout: 'topRight',
                timeout: 3000
            }).show();
        <% } %>
    </script>
</body>

</html>