<link rel="stylesheet" href="/css/user_profile.css">
<div id="profile-container">
<h1>Codial /Profile in Page </h1>
<div> 
    <% if(user.id==profile_user.id){%>
        <!--If user match show update form-->
        <form action="/users/update/<%= profile_user.id %>" method="post">     
            <input type="text" name="name" value="<%=profile_user.name%>" required>
            <input type="text" name="email" value="<%=profile_user.email%>" required>
            <input type="submit" value="Update">
        </form>
    <%}else{%>
        <!--else show profile only-->
        <h2>Name: <%= profile_user.name %></h2>
        <h2>Email: <%= profile_user.email %></h2>
    <%}%>
</div></div>
