footer{
    width:100%;
    height:auto;
    background-color: #8a2be2;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap:5px;

    div{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        gap:5px;
        img{
            width: 25px;
            height: 25px;
            margin:0px 5px;
        }
        p{
            height: 25px;
            margin: 0px;
            font-size: 1.04rem;
            color: rgb(255, 255, 255);
            font-weight: bold;
            border-right: 1px solid rgb(39, 39, 39);
            padding:6px 2px 2px 2px;
            margin-left: -4px;
            a,a:hover,a:visited,a:link{
                color: inherit;
                text-decoration: none;
            }
            &:hover{
                background-color: #bb79f9;
                cursor: pointer;
            }
            &:last-child{
                border-right: none;
                cursor:text;
            }
        }
    }
}