header{
    width:100%;
    height:auto;
    background-color: #8a2be2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px;
    div{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        gap:2px;
        img{
            width: 50px;
            height: 50px;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                margin: 0px;
                font-size: 1.4rem;
                color: rgb(255, 255, 255);
                font-weight: bold;
            }
        }
    }
    ul{
        display: flex;
        justify-content: flex-end;
        align-content: center;
        list-style-type: none;
        gap:5px;
        li{
            button{
                background-color: #dedede;
                border: none;
                padding: 4px;
                width:auto;
                margin-right: 10px;
                font-size: 1.07rem;
                color:rgb(95, 42, 138);
                font-weight: bold;
                border-radius: 5px;
                &:hover{
                    background-color: #1cc7dd;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                }
                a:hover,a:visited,a:link{
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
}