#profile-container{
    min-height:83vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap:30px;
    h1{
        margin: 0;
    }
    div{
        margin: 0;
        padding: 0;
    }
}