header {
  width: 100%;
  height: auto;
  background-color: #8a2be2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 2px 0px; }
  header div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 2px; }
    header div img {
      width: 50px;
      height: 50px; }
    header div div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      header div div p {
        margin: 0px;
        font-size: 1.4rem;
        color: white;
        font-weight: bold; }
  header ul {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
    gap: 5px; }
    header ul li button {
      background-color: #dedede;
      border: none;
      padding: 4px;
      width: auto;
      margin-right: 10px;
      font-size: 1.07rem;
      color: #5f2a8a;
      font-weight: bold;
      border-radius: 5px; }
      header ul li button:hover {
        background-color: #1cc7dd;
        color: white;
        cursor: pointer; }
      header ul li button a:hover, header ul li button a:visited, header ul li button a:link {
        color: inherit;
        text-decoration: none; }
