#home-container {
  width: 100%;
  height: 100%;
  min-height: 83vh;
  display: flex;
  height: max-content; }
  #home-container #feed-posts {
    width: 80%;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #home-container #feed-posts h4 {
      margin: 0;
      padding: 2;
      font-size: 1.5rem;
      font-weight: bold;
      color: #000; }
    #home-container #feed-posts #new-post-form {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center; }
      #home-container #feed-posts #new-post-form #content {
        width: auto;
        height: auto;
        border: none;
        border-radius: 3%;
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
        font-weight: bold;
        color: #000;
        border-bottom: 2px solid black; }
      #home-container #feed-posts #new-post-form #content:focus {
        outline: none; }
      #home-container #feed-posts #new-post-form #post-submit {
        background-color: #5f2a8a;
        border: none;
        padding: 5px 10px;
        width: auto;
        font-size: 1.07rem;
        color: white;
        font-weight: bold;
        border-radius: 5px; }
        #home-container #feed-posts #new-post-form #post-submit:hover {
          background-color: #1cc7dd;
          color: white;
          cursor: pointer; }
    #home-container #feed-posts #post-list-container {
      width: 60%;
      border-top: 2px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px; }
      #home-container #feed-posts #post-list-container div {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 5px; }
        #home-container #feed-posts #post-list-container div .post {
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          gap: 5px; }
          #home-container #feed-posts #post-list-container div .post .ithpost {
            margin-left: 5px; }
            #home-container #feed-posts #post-list-container div .post .ithpost .name {
              font-size: 1.1rem;
              font-weight: bold;
              color: #000; }
            #home-container #feed-posts #post-list-container div .post .ithpost .content {
              height: auto;
              width: auto;
              background-color: white;
              border-radius: 3%;
              padding: 5px;
              font-size: 1.1rem;
              border: 1px dashed black; }
          #home-container #feed-posts #post-list-container div .post .post-comments {
            margin: 0px 20px;
            width: 80%; }
            #home-container #feed-posts #post-list-container div .post .post-comments form {
              display: flex;
              gap: 5px;
              justify-content: space-between; }
              #home-container #feed-posts #post-list-container div .post .post-comments form #comment-input {
                width: 80%;
                height: auto;
                border: none;
                border-radius: 3%;
                padding: 0;
                margin: 0;
                padding: 4px 5px;
                font-weight: bold;
                color: #000;
                background-color: inherit;
                border-bottom: 2px solid black; }
                #home-container #feed-posts #post-list-container div .post .post-comments form #comment-input:focus {
                  outline: none; }
              #home-container #feed-posts #post-list-container div .post .post-comments form #add-comment {
                background-color: #5f2a8a;
                border: none;
                padding: 2px 5px;
                width: auto;
                color: white;
                font-weight: bold;
                border-radius: 5px; }
                #home-container #feed-posts #post-list-container div .post .post-comments form #add-comment:hover {
                  background-color: #1cc7dd;
                  color: white;
                  cursor: pointer; }
            #home-container #feed-posts #post-list-container div .post .post-comments .post-comments-list .post-comments-list-container {
              margin-left: 20px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 5px; }
              #home-container #feed-posts #post-list-container div .post .post-comments .post-comments-list .post-comments-list-container .comment .name {
                font-size: 1rem;
                font-weight: bold;
                color: #000; }
              #home-container #feed-posts #post-list-container div .post .post-comments .post-comments-list .post-comments-list-container .comment .content {
                margin-left: 10px; }
  #home-container #user-friends {
    border-left: 2px solid #363636;
    background-color: #5f2a8a;
    color: #f5f5f5;
    width: 20%;
    display: flex;
    flex-direction: column; }
    #home-container #user-friends h4 {
      margin-left: 10%;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0; }
    #home-container #user-friends p {
      margin: 10px;
      margin-left: 10%; }
      #home-container #user-friends p a,
      #home-container #user-friends p a:focus,
      #home-container #user-friends p a:hover,
      #home-container #user-friends p a:visited {
        color: inherit;
        text-decoration: none; }
