.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:83%;
}
.container {
  margin: auto;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: row;
}
.left {
  width: 50%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.left div{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.left p{
    font-family: sans-serif;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem;
}
.left .logo{
  width:80%;
}
.logo img{
    width:100%;
    height:100%;
}
.left a,a:visited,a:focus,a{
  color:inherit;
  text-decoration: none;
}
.left .white-btn{
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    color: #040404;
    text-align: center;
    padding: 8px 20px;
    font-size: 1.2rem;
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom:1rem;
}
.left .white-btn:hover{
    background-color: #d3d3d3;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  background-color: rgb(222, 222, 222);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right form {
  width: 80%;
  text-align: center;
  padding-top: 15px;
}
.right div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4px;
  gap: 2px;
}
.right label {
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  float: left;
  margin-left: 0.2rem;
}
#email,
#password,#name {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-left: 0.2rem;
}
#email:focus,
#password:focus,#name:focus {
  border-bottom: 2px solid blueviolet;
  background-color: white;
}
.purple-btn{
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: none;
    color: #eeeeee;
    text-align: center;
    padding: 8px 20px;
    font-size: 1.2rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-top:10px;
}
.purple-btn:hover{
    background-color: #a56ef2;
    color: white;
}
@media screen and (max-width: 900px) {
    .container{
        width: 70%;
        height: 65%;
    }
    .right form{
        width: 85%;
    }
}
@media screen and (max-width: 600px) {
    .container{
        width: 80%;
        height: 60%;
    }
    .right form{
        width: 95%;
    }
}